@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Raleway:wght@400;700&display=swap');

@tailwind base;

@layer base {
  h1 {
    @apply text-mBlack font-francois text-3xl font-bold pt-8 lg:pt-16 xl:pt-20;
  }
  h2 {
    @apply text-mBlack font-francois text-2xl font-semibold pt-8;
  }
  h3 {
    @apply text-mBlack font-francois text-xl font-semibold pt-4;
  }

  h4 {
    @apply text-mBlack font-francois text-xl italic pt-4;
  }

  h5 {
    @apply text-mBlack font-francois text-lg pt-4;
  }

  /* a {
    @apply text-blue;
  } */

  p {
    @apply p-1;
  }

  html,
  body {
    @apply text-lBlack font-raleway tracking-wide leading-loose break-words;
  }

  input,
  textarea,

  /* select {
    @apply text-black;
  } */

  blockquote {
    @apply italic md:p-10 p-3;
  }
  
  .h-686 {
    height: 686px;
  }

  .h-625 {
    height: 825px;
  }
}

@tailwind components;
@tailwind utilities;
